<h1>Ola Handlebars</h1>
{{#if approved}}
    <p>Parabens, seu cadastro foi aprovado!</p>
{{else}}
    <p>O seu cadastro necessita de aprovacao para o acesso total do sistema</p>
{{/if}}
<p>O nome do usuario é {{user.name}} {{user.surname}}</p>
{{#if auth}}
    <p>
        Voce esta autenticado, <a href="/dashboard">clique aqui</a> para acessar a area de membros!
    </p>
{{/if}}