<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
    <style>
        .texto {
            text-align: center;
        }
    </style>
<body>
    <div class="texto"></div>
        <h1 class="branco">Resumo sobre mim!</h1>
        <h4 class="cinza">Me chamo Nicolas Braga Bastos, tenho 19 anos e sou um desenvolvedor backend que está se aventurando no desenvolvimento web!</h4>
</body>
</html>