<h1>Ola Handlebars</h1>
<p>O nome do usuario é {{user.name}} {{user.surname}}</p>
{{#if auth}}
    <p>
        Voce esta autenticado, <a href="/dashboard">clique aqui</a> para acessar a area de membros!
    </p>
{{/if}}